.navmini__wrapper{
    display: flex !important;
    align-items: center;
    justify-content: space-between;
}
.navmini_left__list{
    display: flex;
    gap: 15px;
    align-items: center;
}
.navmini_right__list{
    display: flex;
    gap: 15px;
    align-items: center;
}
.navmini_left__iytem{
    list-style: none;
    h2{
        font-size: 15px;
        font-family: "ABeeZee";

    }
}
.navmini_right__iytem{
    list-style: none;
    h2{
        font-size: 15px;
        font-family: "ABeeZee";
    }
    img{
        margin-top: 7px;
        // font-size: 15px;
        height: 15px;
    }
}
.rax{
    display: block;
    width: 1248px;
    background-color: #E5E5E5;
    height: 2px;
    margin: 15px auto ;

}
.nav__container{
    max-width: 1248px;
    margin: 0 auto;
}
.nav__list{
    list-style: none;
    display: flex;
    align-items: center;
}
#search{
    display: flex;
    align-items: center;
    padding: 0 15px;
    border: 2px solid #000;
    margin: 0 10px;
    width: 860px;
    input{
        width: 100%;
        color: #767676;
        font-family: "ABeeZee";
        font-size: 15px;
        border: none;
        padding: 10px 0 10px 15px;
        // margin-left: 15px;
        // margin-right: 3px;
        outline: none;
    }
    i{
        font-size: 18px;
    }
}
.nav__uytem {
    h2{
        font-family: "ABeeZee";
        color:  #555555;
        font-size: 13px;
        width: 50px;
        // padding: 0 10px;
        margin-left: 10px;
    }
    button{
        color: #fff;
        font-size: 14px;
        font-family: "ABeeZee";
        padding: 13px 40px 12px;
        background-color:  #3665F3;
        border: none;
        cursor: pointer;
        &:hover{
            background-color: #3665f371 !important;
        }
    }
}
.nav_link__list{
    display: flex;
    // align-items: center;
    gap: 15px;
    justify-content: center;
    white-space: nowrap !important; 
    padding: 0 0 10px 0 !important; 
}
.nav__link{
    list-style: none;
}
.category_link{
    text-decoration: none;
    font-family: "ABeeZee";
    font-size: 18px;
    color: #555555;
    transition: all .4s;
    &:hover{
        color: #000 !important;
        font-weight: bold;
    }
}
.swiper-pagination-bullet{
    display: none;
}